---
layout: default
title: Home
---
<section class="post-list">
  {% if site.posts.size > 0 %}
    <ul class="cards">
      {% for post in site.posts %}
        <li class="card">
          <a class="card-link" href="{{ post.url | relative_url }}">
            <time class="card-date" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%B %-d, %Y" }}
            </time>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-blurb">
              {{ post.description | default: post.excerpt | strip_html | normalize_whitespace | truncate: 160 }}
            </p>
            {% if post.tags and post.tags.size > 0 %}
              <span class="card-tags">
                {% for tag in post.tags %}<span class="tag">#{{ tag }}</span>{% endfor %}
              </span>
            {% endif %}
            <span class="card-more">Read &rarr;</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet. Check back soon.</p>
  {% endif %}
</section>
