.avatar-wrapper {
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: end;
}

.avatar {
  /* TODO */
  color: white;
}

@media screen and (min-width: 522px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .avatar-wrapper {
    overflow: hidden;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (min-width: 800px) {
  .App {
    grid-template-columns: 10% 55% 25% 10%;
    grid-template-rows: 35% 15% 25% 25%;
  }
}