%linkWrapperBase {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: end;
  height: 1.2em;
  width: 2em;
  opacity: 0;
  margin-top: 20px;
}

%hoverStyles {
  a {
    svg {
      path {
        fill: #fdfed4 !important;
      }
      &:hover path {
        fill: #00798C !important;
      }
    }
  }
}

.githubWrapper {
  margin-right: 80px;
  animation: fadeInLogos 2s ease normal forwards;
  @extend %hoverStyles;
  @extend %linkWrapperBase;
}

.twitterWrapper {
  margin-right: 40px;
  animation: fadeInLogos 2s ease 0.3s normal forwards;
  @extend %hoverStyles;
  @extend %linkWrapperBase;
}

.linkedInWrapper {
  animation: fadeInLogos 2s ease 0.7s normal forwards;
  @extend %hoverStyles;
  @extend %linkWrapperBase;
}


@keyframes fadeInLogos {
  from {opacity: 0;}
  to {opacity: 1;}
}


@media screen and (min-width: 522px) {

}

@media screen and (min-width: 800px) {
  %linkWrapperBase {
    grid-column: 3;
    grid-row: 1;
    height: 1.5em;
    &:hover {
      height: 1.7em;
    }
  }
}


@media screen and (min-width: 1300px) {
  %linkWrapperBase {
    grid-column: 3;
    grid-row: 1;
    height: 1.5em;
    &:hover {
      height: 1.7em;
    }
    margin-right: 20px;
  }

  .githubWrapper {
    margin-right: 120px;
  }
  
  .twitterWrapper {
    margin-left: 40px;
    margin-right: 80px;
  }
  
  .linkedInWrapper {
    margin-right: 40px;
  }
}