.experienceWrapper {
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
  h2 {
    color: #59595A;
    font-family: 'Inconsolata', monospace;
  }

  .languages {
    height: 50px;
    p {
      font-family: 'Inconsolata', monospace;
      color: #f64740;
      float: left;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .frameworks {
    height: 50px;
    margin-top: 10%;
    p {
      font-family: 'Inconsolata', monospace;
      color: #f64740;
      float: left;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
