%linkWrapperBaseStyles {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: start;
  opacity: 0;
  text-decoration: none;
  color: #fdfed4;
  &:hover {
    fill: rgb(50, 206, 206);
  }
}

.blogWrapper {
  animation: fadeInLinks 2s ease normal forwards;
  @extend %linkWrapperBaseStyles;
}

.homeWrapper {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  @extend %linkWrapperBaseStyles;
}

@keyframes fadeInLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 522px) {
}

@media screen and (min-width: 800px) {
  %linkWrapperBaseStyles {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    height: 1.2em;
    width: 2em;
    opacity: 0;
    a {
      color: #4ec8b9;
      font-size: 1.2em;
      font-weight: bold;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-decoration: none;
      &:hover {
        color: #00798c;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
}
