.linkWrapper {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  opacity: 0;
  animation: fadeInLinks 1s ease-out normal forwards;
}

.home {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

@keyframes fadeInLinks{
  from { opacity: 0; }
  to { opacity: 1; }
}


@media screen and (min-width: 522px) {

}

@media screen and (min-width: 800px) {
  .linkWrapper {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    height: 1.2em;
    width: 2em;
    opacity: 0;
    margin-top: 20px;
    a {
      color: #4EC8B9;
      font-size: 1.2em;
      font-weight: bold;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-decoration: none;
      &:hover {
        color: #00798C
      }
    }
  }
}

@media screen and (min-width: 1300px) {

}
