.titleWrapper {
  overflow: hidden;
  align-self: end;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  color: #fdfed4;
  margin: 0;
}

@media screen and (min-width: 522px) {
  .title {
    font-size: 4em;
  }
  .titleWrapper {
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: start;
    justify-self: start;
  }
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 4em;
    margin-bottom: 50px;
  }
  .titleWrapper {
    overflow: hidden;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    justify-self: center;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1300px) {
  .title {
    font-size: 5em;
    margin-bottom: 30px;
  }
  .titleWrapper {
    overflow: hidden;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    justify-self: center;
    margin-bottom: 0;
    margin-left: 0;
  }
}
